[Unit]
Description=LQL API Server
After=network.target

[Service]
Type=simple
User=%i
Group=%i
ExecStart=/usr/local/bin/lql_api localserver %i --listen localhost:8080 -d

[Install]
WantedBy=multi-user.target