Source: lql-api
Maintainer: Webmeisterei Support <support@webmeisterei.com>
Uploaders: Webmeisterei Support <support@webmeisterei.com>
Section: devel
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 12),
               dh-golang,
               golang-any,
               golang-github-abbot-go-http-auth-dev,
               golang-github-gin-contrib-cors-dev,
               golang-github-gin-gonic-gin-dev,
               golang-github-spf13-cobra-dev,
               golang-github-stretchr-testify-dev,
               golang-golang-x-crypto-dev,
               golang-logrus-dev
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/jochumdev/lql-api
Vcs-Git: https://github.com/jochumdev/lql-api.git
Homepage: https://github.com/jochumdev/lql-api
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/jochumdev/lql-api

Package: lql-api
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: LQL API Client/Server for check_mk
 LQL API Client/Server for check_mk
 .
 See the LQL Docs (https://checkmk.com/cms_livestatus.html) for what LQL
 can do for you.
 .
 License MIT - Copyright 2020 by Webmeisterei GmbH
